.video {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: auto;
  /* No object-fit: we use exact dimensions */
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
