.bar {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10px;
}
.progress {
  position: relative;
  height: 100%;
  overflow: hidden; /* clip ticks to progress fill width */
}

.tickTop {
  position: absolute;
  top: 0;
  width: 3px;
  height: 100%;
  transform: translateX(-50%);
  z-index: 3;
}
.chapterWrapper {
  position: absolute;
  bottom: 0;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  z-index: 5;
}

.tick {
  position: absolute;
  top: 0;
  width: 2px;
  height: 100%;
  opacity: 1;
  transform: translateX(-50%);
  background-color: white;
  z-index: 2;
}
.title {
  position: absolute;
  bottom: calc(100% + 15px);
  left: 0;
  white-space: nowrap;
  text-transform: uppercase;
  font-size: 1rem; /* adjust if needed */
}

.scrubZone {
  height: 40px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 9999;
}

.scrubZone,
.bar {
  overflow: visible; /* NEW */
}

@media (max-width: 600px) {
  .titleMobile {
    font-size: 0.8rem; /* example – adjust as you like */
    bottom: calc(100% + 8px);
    line-height: 1.1;
  }
}
